<div class="container">
  <div>
    <form [formGroup]="policyForm">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="names">Identificación</label>
          <input type="text" formControlName="id"  class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('id') }"
            id="names" placeholder="Número de identificación">
        </div>
      </div>

      <div class="form-group ">
        <label for="names">Nombre completo</label>
        <input type="text" formControlName="names" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('names') }"
          id="names" placeholder="Nombre completo">
      </div>

      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="usertype">Genero</label>
          <select id="usertype" formControlName="gender" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('gender') }"
            class="form-control">
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </div>

        <div class="form-group col-md-5">
          <label for="birth">Año de nacimiento</label>
          <div class="input-group">
            <input id="birth" formControlName="birth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
              (dateSelect)="calAge(d._inputValue)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary " (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
            </div>
          </div>
        </div>

        <div class="form-group col-md-2">
          <label for="age">Edad</label>
          <input type="text" class="form-control" [value]="age" disabled=true id="age" placeholder="">
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Correo electrónico</label>
          <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('email') }"
            id="email" placeholder="Correo electrónico">
        </div>
        <div class="form-group col-md-6">
          <label for="address">Dirección de residencia</label>
          <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('names') }"
            id="address" placeholder="Dirección">
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="phone1">Teléfono fijo</label>
          <input type="text" formControlName="phone1" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('phone1') }"
            class="form-control" id="phone1">
        </div>
        <div class="form-group col-md-6">
          <label for="celphone1">Celular</label>
          <input type="text" formControlName="celphone1" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('celphone1') }"
            class="form-control" id="celphone1">
        </div>
      </div>

      <div *ngIf="!load" class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success" [disabled]="!policyForm.valid" (click)="updateClient()">Guardar</button>
        <button type="submit" class="btn btn-danger" (click)="cleanForm()">Limpiar</button>
      </div>

    </form>

    <div *ngIf="load" class="fa-3x d-flex justify-content-center m-4">
        <i class="fa fa-spinner fa-spin"></i>
      </div>

      <div *ngIf="success" class="alert alert-success m-3" role="alert">
        Usuario actualizado correctamente
      </div>

      <div *ngIf="error" class="alert alert-danger" role="alert">
        <strong>Error al ejecutar la acción!</strong> Intentelo nuevamente.
      </div>

  </div>

</div>
