<div class="container">
  <nav class="padding-content navbar navbar-light bg-light  border-primary d-flex justify-content-between ">
    <div (click)="goBack()"><span>Regresar</span></div>

    <div ngbDropdown class="d-inline-block">

      <div id="dropdownBasic1" ngbDropdownToggle>
        <i style="font-size: 30pt; color: #74790d" class="fa fa-user"></i>
      </div>
      

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="logOut()" class="dropdown-item">Cerrar sesión</button>
      </div>

    </div>

  </nav>
  <router-outlet></router-outlet>
  <div class="padding-content"></div>
</div>
