<div class="container">
  <div class="row p-2">
    <div class="col-sm-12 col-md-6 p-2" *ngFor="let menu of navItems">
      <div class="card rounded border border-primary highCard" (click)="goPath(menu.route)">
        <div class="card-body text-colot-login pointer-c">
          <span class="icon-menu">
            <i [class]="menu.iconName"></i>
          </span>
          <h5 class="card-title">{{menu.displayName}}.</h5>
          <p class="card-text">{{menu.description}}.</p>
        </div>
      </div>
    </div>
  </div>
</div>
