<div class="container">
  <div>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Información personal">
        <ng-template ngbPanelContent>
          <form [formGroup]="policyClientForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="id">Identificación</label>
                <input type="text" formControlName="id" #idC (blur)="searchClient(idC.value)" class="form-control"
                  [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('id') }" id="id" placeholder="Número de identificación">
              </div>
            </div>
            <div *ngIf="existUser" class="alert alert-success" role="alert">
              Usuario encontrado-
            </div>
            <div *ngIf="existUser === null" class="alert alert-warning" role="alert">
              Por favor registre la información del cliente, y continue diligenciando la poliza.
            </div>
            <div class="form-group ">
              <label for="names">Nombre completo</label>
              <input type="text" formControlName="names" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('names') }"
                id="names" placeholder="Nombre completo">
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="gender">Genero</label>
                <select id="gender" formControlName="gender" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('gender') }"
                  class="form-control">
                  <option>Masculino</option>
                  <option>Femenino</option>
                </select>
              </div>
              <div class="form-group col-md-5">
                <label for="birth">Año de nacimiento</label>
                <div class="input-group">
                  <input id="birth" formControlName="birth" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                    ngbDatepicker #d="ngbDatepicker" (dateSelect)="calAge(d._inputValue)">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary " (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-2">
                <label for="age">Edad</label>
                <input type="text" class="form-control" [value]="age" disabled=true id="age" placeholder="">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Correo electrónico</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('email') }"
                  id="email" placeholder="Correo electrónico">
              </div>
              <div class="form-group col-md-6">
                <label for="address">Dirección de residencia</label>
                <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('address') }"
                  id="address" placeholder="Dirección">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="phone1">Teléfono fijo</label>
                <input type="text" formControlName="phone1" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('phone1') }"
                  class="form-control" id="phone1">
              </div>
              <div class="form-group col-md-6">
                <label for="celphone1">Celular</label>
                <input type="text" formControlName="celphone1" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('celphone1') }"
                  class="form-control" id="celphone1">
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-success" [disabled]="!policyClientForm.valid" (click)="createClient()">Guardar</button>
              <button type="submit" class="btn btn-danger" (click)="cleanForm()">Limpiar</button>
            </div>
          </form>
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Información de la póliza" [disabled]="enabledPolicy">
        <ng-template ngbPanelContent>

          <!-- poliza -->
          <form [formGroup]="policyForm">
            <div class="row">
              <div class="form-group col-sm-3">
                <label for="numberPolicy">Número de poliza</label>
                <input type="text" formControlName="numberPolicy" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('numberPolicy') }"
                  id="numberPolicy">
              </div>
              <div class="form-group col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                    <label>Vigencia (Fecha inicio)</label>
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" formControlName="validityInit" placeholder="yyyy-mm-dd" name="dp1"
                          [displayMonths]="displayMonths" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('validityInit') }"
                          [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers"
                          ngbDatepicker #dd="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="dd.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label>Vigencia (Fecha fin)</label>
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" formControlName="validityFinish" placeholder="yyyy-mm-dd" name="dp2"
                          [displayMonths]="displayMonths" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('validityFinish') }"
                          [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers"
                          ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">

              <div class="form-group col-md-6">
                <label for="safeType">Tipo seguro</label>
                <select  id="safeType" formControlName="safeType" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('safeType') }"
                  class="form-control">
                  <option *ngFor="let comapany of companyList">{{comapany}}</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="company">Compañia aseguradora</label>
                <select id="company" formControlName="company" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('company') }"
                  class="form-control">
                  <option *ngFor="let safe of safesList">{{safe}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="assuredProduct">Producto asegurado</label>
                <input type="text" formControlName="assuredProduct" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('assuredProduct') }"
                  class="form-control" id="assuredProduct">
              </div>
              <div class="form-group col-md-4">
                <label for="policyValue">Valor poliza</label>
                <input type="text" formControlName="policyValue" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('policyValue') }"
                  class="form-control" id="policyValue">
              </div>
              <div class="form-group col-md-4">
                <label for="wayToPay">Forma de pago</label>
                <input type="text" formControlName="wayToPay" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('wayToPay') }"
                  class="form-control" id="wayToPay">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="insured">Asegurado</label>
                <input type="text" formControlName="insured" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('insured') }"
                  class="form-control" id="insured">
              </div>

              <div class="form-group col-md-6">
                <label for="NewOrRenewal">Nueva o Renovación</label>
                <select id="NewOrRenewal" formControlName="NewOrRenewal" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('NewOrRenewal') }"
                  class="form-control">
                  <option>Nueva</option>
                  <option>Renovar</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="adviser">Asesor</label>
              <select id="adviser" formControlName="adviser" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('adviser') }"
                class="form-control">
                <option *ngFor="let user of agent" [value]="user.uid">{{user.names}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="detail">Detalle de la poliza</label>
              <textarea class="form-control" formControlName="detail" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInputPolicy('detail') }" id="detail" rows="5"></textarea>
            </div>

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-success" [disabled]="!policyForm.valid" (click)="createPolicy()">Guardar</button>
              <button type="submit" class="btn btn-danger" (click)="cleanForm()">Limpiar</button>
            </div>
          </form>
          <!--  -->

        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>
</div>
