<div class="container">
  <div>
    <form [formGroup]="policyForm">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Información personal">
          <ng-template ngbPanelContent>



            <div class="form-group">
              <label for="names">Nombre completo</label>
              <input type="text" formControlName="names" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('names') }"
                id="names" placeholder="Nombre completo">
            </div>

            <div class="form-group">
              <label for="names">Identificación</label>
              <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('id') }"
                id="names" placeholder="Número de identificacións">
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Correo electrónico</label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('email') }"
                  id="email" placeholder="Correo electrónico">
              </div>
              <div class="form-group col-md-6">
                <label for="address">Dirección de residencia</label>
                <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('names') }"
                  id="address" placeholder="Dirección">
              </div>
            </div>


            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="phone1">Teléfono fijo Uno</label>
                <input type="text" formControlName="phone1" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('phone1') }"
                  class="form-control" id="phone1">
              </div>
              <div class="form-group col-md-4">
                <label for="phone2">Teléfono fijo dos</label>
                <input type="text" formControlName="phone2" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('phone2') }"
                  class="form-control" id="phone2">
              </div>
              <div class="form-group col-md-4">
                <label for="phone3">Teléfono fijo tres</label>
                <input type="text" formControlName="phone3" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('phone3') }"
                  class="form-control" id="phone3">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="celphone1">Teléfono fijo Uno</label>
                <input type="text" formControlName="celphone1" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('celphone1') }"
                  class="form-control" id="celphone1">
              </div>
              <div class="form-group col-md-4">
                <label for="celphone2">Teléfono fijo dos</label>
                <input type="text" formControlName="celphone2" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('celphone2') }"
                  class="form-control" id="celphone2">
              </div>
              <div class="form-group col-md-4">
                <label for="celphone3">Teléfono fijo tres</label>
                <input type="text" formControlName="celphone3" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('celphone3') }"
                  class="form-control" id="celphone3">
              </div>
            </div>



          </ng-template>
        </ngb-panel>

        <ngb-panel title="Información de la póliza">
          <ng-template ngbPanelContent>

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-success" [disabled]="!policyForm.valid" (click)="createPolicy()">Guardar</button>
              <button type="submit" class="btn btn-danger"(click)="cleanForm()">Limpiar</button>
            </div>

          </ng-template>
        </ngb-panel>

      </ngb-accordion>
    </form>
  </div>

</div>