<div *ngIf="user !== null">

  <form [formGroup]="userForm">

    <div class="form-group">
      <label for="names">Nombre completo del usuario</label>
      <input type="text" formControlName="names" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('names') }"
        id="names" placeholder="Nombre completo del usuario">
    </div>

    <div class="form-group">
      <label for="names">Identificación del usuario</label>
      <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('id') }"
        id="names" placeholder="Número de identificación del usuarios">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Correo electrónico</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('email') }"
          id="email" placeholder="Correo electrónico">
      </div>
      <div class="form-group col-md-6">
        <label for="address">Dirección de residencia</label>
        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('names') }"
          id="address" placeholder="Dirección">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="phone">Teléfono fijo</label>
        <input type="text" formControlName="phone" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('phone') }"
          class="form-control" id="phone">
      </div>
      <div class="form-group col-md-5">
        <label for="celphone">Teléfono celular</label>
        <input type="text" formControlName="celphone" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('celphone') }"
          class="form-control" id="celphone">
      </div>
      <div class="form-group col-md-2">
        <label for="usertype">Tipo de usuario</label>
        <select id="usertype" formControlName="userType" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('userType') }"
          class="form-control">
          <option>ADMINISTRADOR</option>
          <option>OPERADOR</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="usertype">Estado</label>
      <select id="usertype" formControlName="state" [ngClass]="{ 'is-invalid': isInvalidRegisterFormGroupInput('userType') }"
        class="form-control">
        <option>ACTIVO</option>
        <option>INACTIVO</option>
      </select>
    </div>

    <button *ngIf="!load" type="submit" class="btn btn-primary" [disabled]="!userForm.valid" (click)="updateUser  ()">Guardar</button>
  </form>


  <div *ngIf="load" class="fa-3x d-flex justify-content-center m-4">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <div *ngIf="success" class="alert alert-success m-3" role="alert">
    Usuario actualizado correctamente
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    <strong>Error al ejecutar la acción!</strong> Intentelo nuevamente.
  </div>


</div>
