<div *ngIf="client !== undefined && policies !== undefined">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Información del cliente</h5>

      <div> <strong>Nombre</strong>: {{client.names}} </div>
      <div> <strong>Documento de identidad</strong>: {{client.id}} </div>
      <div> <strong>Dirección</strong>: {{client.address}} </div>
      <div> <strong>Genero</strong>: {{client.gender}} </div>
      <div> <strong>Correo electrónico</strong>: {{client.email}} </div>
      <div> <strong>Teléfono fijo</strong>: {{client.phone1}} </div>
      <div> <strong>Teléfono celular</strong>: {{client.celphone1}} </div>

    </div>
  </div>

  <hr>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Polizas registradas <span class="badge badge-success">{{policies.length}}</span></h5>

      <ngb-accordion #acc="ngbAccordion" class="m-3" activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let policie of policies">
          <ng-template ngbPanelTitle>
            <span>&#9733; <b>Poliza No. </b>{{ policie.numberPolicy}}</span>
          </ng-template>
          <ng-template ngbPanelContent>

            
            <div> <strong>Vigencia (Fecha inicio) </strong>: {{policie.validityInit.day}}/{{policie.validityInit.month}}/{{policie.validityInit.year}} </div>
            <div> <strong>Vigencia (Fecha fin) </strong>: {{policie.validityFinish.day}}/{{policie.validityFinish.month}}/{{policie.validityFinish.year}} </div>
            <div> <strong>Tipo seguro</strong>: {{policie.safeType}} </div>
            <div> <strong>Compañia aseguradora</strong>: {{policie.company}} </div>
            <div> <strong>Producto asegurado</strong>: {{policie.assuredProduct}} </div>
            <div> <strong>Valor poliza</strong>: $ {{policie.policyValue}} </div>
            <div> <strong>Forma de pago</strong>: {{policie.wayToPay}} </div>
            <div> <strong>Asegurado</strong>: {{policie.insured}} </div>
            <div> <strong>Nueva o Renovación</strong>: {{policie.NewOrRenewal}} </div>
            <div> <strong>Asesor</strong>: {{policie.adviser}} </div>
            <div> <strong>Detalle de la poliza</strong>: {{policie.detail}} </div>

          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
  </div>
</div>

