<div class="card">
  <div class="card-body">
    <h5 class="card-title">Información del cliente</h5>

    <div> <strong>Nombre</strong>: {{client.names}} </div>
    <div> <strong>Documento de identidad</strong>: {{client.id}} </div>
    <div> <strong>Dirección</strong>: {{client.address}} </div>
    <div> <strong>Genero</strong>: {{client.gender}} </div>
    <div> <strong>Correo electrónico</strong>: {{client.email}} </div>
    <div> <strong>Teléfono fijo</strong>: {{client.phone1}} </div>
    <div> <strong>Teléfono celular</strong>: {{client.celphone1}} </div>

  </div>
</div>

<hr>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Polizas registradas</h5>

    <ngb-accordion #acc="ngbAccordion" class="m-3" activeIds="ngb-panel-0">
      <ngb-panel title="Poliza">
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
          tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
          helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
          Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
          accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>

  </div>
</div>
